# ignora a instalação do RARS
RARS

# ignora arquivos executaveis (como o conversor de imagens), ao menos que estejam em source (como o FPGRARS)
*.exe
!src/**

# ignora versões buildadas usando build.c
v* 
!src/**

# ignora as anotacoes de algoritmo
Algoritmos